
<h1>Welcome to Poolstack Website, <%= @user.full_name %>!</h1>

<p>Thank you for Visiting our Website.</p>

<h2>User Details:</h2>
<p><b>Name:</b> <%= @user.full_name %></p>
<p><b>Email:</b> <%= @user.email %></p>
<p><b>Message:</b> <%= @user.message %></p>
<p><b>Contact_number:</b> <%= @user.contact_number %></p>

<p>Best regards,<br>
   The Poolstack Team</p>
  